.canvas {
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: -100;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
}

@media (max-width: 800px) {
    .canvas {
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        z-index: -100;
        overflow: hidden;
        -webkit-overflow-scrolling: touch;
    }
}