
.canvas {
    position: fixed;
    z-index: -100;
    overflow:hidden;
    -webkit-overflow-scrolling:touch;
}

.navBarContainer {
    display: flex;
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    background: #F7F7FB;
    transition: all ease 100ms;
}

.menuCheckIcon {
    display: none;
}

.menuCheckbox
{
    display: none;
}

.navSpace {
    flex: 1;
}

.navMenuContainer {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 800px;
}

.menuItem {
    position: relative;
    display: inline;
    padding: 2rem;
    flex: 1;
    margin: 0;
    font-size: 1.75rem;
    color: #2E2E2E;
}

.menuItem > a {
    border: none;
}

.socialLinksContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #2E2E2E;
}


.socialLinkContainer {
    color: #2E2E2E;
    font-size: 2rem;
    padding: 0.5rem;
    margin: 0.5rem;
}

/* Social link colors --------------------------------------- */

.socialLink {
    color: #2E2E2E;
    border: none;
}

.socialLink:hover {
    color: #545454;
    border: none;
}


.projectContainer {
    flex: 1;
    display: inline-block;
    padding: 1rem;
    background: #F7F7FB;
    max-width: 500px;
    border-radius: 8px;
    margin: 1rem 2rem;
    border: none;
    box-shadow: inset 0 -6px 0 0px #ff613d;
    transform: translate(0 0);
    transition: all ease 100ms;
}

.projectContainer:hover {
    border: none;
    box-shadow: inset 0 -6px 0 0px #ff613d, 0 6px 0 0 #ff613d;
    transform: translateY(-6px);
}

.projectContainer:focus {
    border: none;
    box-shadow: inset 0 -6px 0 0px #ff613d, 0 6px 0 0 #ff613d;
    transform: translateY(-6px);
}

.projectContainer:active {
    border: none;
    box-shadow: inset 0 -6px 0 0px #ff613d, 0 6px 0 0 #ff613d;
    transform: translateY(-6px);
}

.projectContainer:hover .projectImage {
    color: #545454;
}

.projectContainer:hover .projectTitleName {
    color: #545454;
}

.projectContainer:hover .projectDescription {
    color: #545454;
}

.projectContainer:focus .projectImage {
    color: #545454;
}

.projectContainer:focus .projectTitleName {
    color: #545454;
}

.projectContainer:focus .projectDescription {
    color: #545454;
}

.projectContainer:active .projectImage {
    color: #545454;
}

.projectContainer:active .projectTitleName {
    color: #545454;
}

.projectContainer:active .projectDescription {
    color: #545454;
}

.projectTitleName {
    color: #2E2E2E;
    transition: all ease 100ms;
}

.projectDescription {
    padding: 1rem 0;
    color: #2E2E2E;
    transition: all ease 100ms;
}

.projectImage {
    color: #2E2E2E;
    font-size: 12rem;
    float: left;
    transition: all ease 100ms;
}

.projectMainContent {
    flex: 1;
    color: #545454;
}

.projectHeader {
    flex: 1;
    display: flex;
    flex-direction: row;
    color: #545454;
}

.projectTitle {
    padding: 1.5rem;
}

.scrollBox {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 110rem;
    margin: 0 auto;
    padding: 0.5rem;
    overflow: hidden;
    clip-path: inset(0px -15px 0px -15px);

}

.scrollerOverlay {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    box-shadow: inset -110px 0 30px -30px #F7F7FB, inset 110px 0 30px -30px #F7F7FB;
}

.scroller {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 3000px;
    padding: 0.25rem;
}

.scrollItem {
    line-height: 0;
    font-size: 5rem;
    margin: 0 1.5rem;
    padding: 0.25rem;
    color: #545454;
    transition: all ease 100ms;
}

.scrollItem:hover .scrollerItemInfo{
    opacity: 1;
    transform: scale(1, 1);
}

.scrollItem:focus .scrollerItemInfo{
    opacity: 1;
    transform: scale(1, 1);
}

.scrollItem > .scrollerItemInfo {
    opacity: 0;
    color: #F7F7FB;
    font-size: 1.5rem;
    line-height: 30px;
    text-align: center;
    position: absolute;
    top: 0px;
    width: 112px;
    height: auto;
    border-radius: 10px;
    padding: 1rem 0;
    margin-left: -1rem;
    background: rgba(50, 50, 50, 0.9);
    transform: scale(0.5, 0.5);
    cursor: default;
    transition: all ease 100ms;
}

.scrollBox .scroller {
    animation: moveSlideshow 35s linear infinite;
}

.contactHeader {
    font-size: 2rem;
    line-height: 0;
    display: inline-block;
    margin: 0 auto;
    color: #2E2E2E;
  }

.contactForm {
    flex: 1;
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 4rem;
    margin-bottom: 4rem;
    background: #F7F7FB;
  }
  
  .formItem > label {
    position: absolute;
    margin: 0;
    padding: 1rem 0;
    font-size: 1.5rem;
    color: #2E2E2E;
  }
  
  .formItem > input {
    margin: 0;
    padding: 1rem;
    padding-left: 2rem;
    background: none;
    border: none;
    border-bottom: solid 4px #2E2E2E;
    font-size: 1.2rem;
    color: #2E2E2E;
    width: 100%;
    outline: none;
    box-shadow: none;
    transition: all ease 100ms;
  }
  
  .formItem > input:focus {
    border-bottom: solid 4px #FF613D;
  }
  
  .formItem > input::-webkit-input-placeholder {
    opacity: 0.5;
    transition: all ease 100ms;
  }
  
  .formItem > input::-moz-placeholder {
    opacity: 0.5;
    transition: all ease 100ms;
  }
  .formItem > input:focus::-moz-placeholder {
    opacity: 0;
  }
  
  .formItem > input:focus::-webkit-input-placeholder {
    opacity: 0;
  }
  
  .contactForm > textarea {
    margin: 1rem 0;
    padding: 1rem;
    font-size: 1.2rem;
    color: #2E2E2E;
    width: 30rem;
    min-width: 300px;
    background: none;
    outline: none;
    border: none;
    box-shadow: inset 0 0 0 4px #2E2E2E;
    transition: all ease 100ms;
  }
  
  .contactForm > textarea:focus {
    box-shadow: inset 0 0 0 4px #FF613D;
    background: #ffffff;
  }
  
  .contactForm > textarea::-webkit-input-placeholder {
    opacity: 0.5;
    transition: all ease 100ms;
  }
  
  .contactForm > textarea::-moz-placeholder {
    opacity: 0.5;
    transition: all ease 100ms;
  }
  .contactForm > textarea:focus::-moz-placeholder {
    opacity: 0;
  }
  
  .contactForm > textarea:focus::-webkit-input-placeholder {
    opacity: 0;
  }
  
  .contactForm > button {
    float: right;
    margin: 1rem 0;
    border: none;
    font-size: 1.1rem;
    padding: 1rem;
    cursor: pointer;
    background: rgb(235, 235, 235);
    box-shadow: 0 0 0 4px #2E2E2E;
    transition: all ease 100ms;
  }

.contactForm > button:hover {
    background: rgb(255, 224, 211);
    box-shadow: 0 0 0 4px #FF613D;
}
  

@keyframes moveSlideshow {
    100% { 
      transform: translateX(-2992px);
    }
}


@media (max-width: 800px) {

    .contactForm > button {
        display: block;
        margin: 1rem auto;
        border: none;
        font-size: 1.1rem;
        padding: 1rem;
      }

    .navBarContainer {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 0;
        width: 100%;
        height: auto;
    }

    .navMenuContainer {
        display: none;
    }

    .navSpace {
        display: none;
    }

    .menuCheckbox {
        display: none;
    }

    .menuCheckIcon {
        display: inline-block;
        font-size: 4rem;
        line-height: 90px;
        padding: 0 1rem;
    }

    .menuCheckbox:checked ~ .navMenuContainer
    {
        display: flex;
        flex-direction: column;
    }

    .projectContainer {
        width: 100%;
        font-size: 1rem;
        max-width: 350px;
        padding: 1rem;
        margin: 1rem 0;
    }

    .projectImage {
        color: #2E2E2E;
        font-size: 8rem;
        transition: all ease 100ms;
    }

    .scrollItem {
        line-height: 0;
        font-size: 3rem;
        margin: 0 1rem;
        padding: 0.1rem;
        color: #545454;
        transition: all ease 100ms;
    }

    @keyframes moveSlideshow {
        100% { 
          transform: translateX(-1830px);
        }
    }

    .scrollBox .scroller {
        animation: moveSlideshow 30s linear infinite;
    }

    .scrollItem > .scrollerItemInfo {
        font-size: 1.25rem;
        padding: 0.25rem 0;
        margin-left: -1.25rem;
    }

    .scrollItem:hover .scrollerItemInfo{
        opacity: 1;
        transform: scale(0.75, 0.75);
    }
    
    .scrollItem:focus .scrollerItemInfo{
        opacity: 1;
        transform: scale(0.75, 0.75);
    }

    .scrollItem:active .scrollerItemInfo{
        opacity: 1;
        transform: scale(0.75, 0.75);
    }

    .scrollerOverlay {
        position: absolute;
        margin: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        box-shadow: none;
    }

    .canvas {
        position: absolute;
        z-index: -100;
    }
}